 /* Timeline Line */

/* Timeline Step */


/* Circular Icon */



/* Step Title for underline animation*/
.underline-text {
    text-decoration: underline;
    align-self: center;
}


#map {
    height: 400px;
}

/* #box-1:hover{
    transform: scale(0.9);
} */